@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <MudLayout>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</div>